.userForm {
    margin: 5rem auto;
    width: 30rem;

    h1 {
        margin-bottom: 2rem;
        text-align: center;
    }

    label {
        text-align: justify;
    }

    .submit_button {
        width: 6rem;
        margin: 1rem auto;
    }

    .login_span {
        color: #0d6efd;
        cursor: pointer;
        margin-left: 0.5rem;
    }

    .flex_col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .upload_button {
        width: 6rem;
    }
}
